{% extends 'blog\base.html' %}

{% block title %}Wpis: {{ post.title }}{% endblock %}

{% block content %}
<div class="text-center welcome-header">
    <h2> Tytuł wpisu: {{ post.title }} </h2>
    <h4> Data Opublikowania: {{ post.publish_date }} </h4>
</div>
<div>
{% if post.image %}
<img src="{{ post.image.url }}" alt="post image" class="img-thumbnail img-thumbnail-force"></br>
{% endif %}
{{ post.text|linebreaksbr }}
</div>
<br>
<a class="btn btn-warning" href="{% url 'post_list' %}">Wróc z powrotem na listę wpisów</a>
{% endblock %}